<!DOCTYPE html>
<html>

<head>
    <title>Task 7 - Advanced API Integration</title>
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <div class="container">
        <h1>Welcome to Advanced API Integration App</h1>

        <div class="center">
            <% if (user) { %>
                <p>Logged in as <strong>
                        <%= user.username %>
                    </strong></p>
                    
                <a href="/dashboard" class="btn">Go to Dashboard</a>
                <a href="/logout" class="btn">Logout</a>
            <% } else { %>
                <a href="/login" class="btn">Login with GitHub</a>
            <% } %>
        </div>
    </div>
</body>

</html>