<!DOCTYPE html>
<html>

<head>
    <title>Email Sent</title>
</head>

<body>
    <div class="container">
        <h1>Email is being processed!</h1>
        <a href="/">Go back</a>
    </div>
</body>

</html>